---
export interface Props {
    name: string;
}
const { name } = Astro.props;
---
<li>
    <div class="flex items-center rounded-full bg-primary/10 px-3 py-1 text-xs font-medium leading-5 text-accent">
        {name}
    </div>
</li>
